<% include ./partials/head-light.ejs %>
<% include ./partials/header.ejs %>

<script type="text/javascript">
  var e = {
    user: <%- JSON.stringify(user) %>,
    lists: <%- JSON.stringify(lists) %>,
    owner: <%- JSON.stringify(owner) %>,
    ownerLists: <%- JSON.stringify(ownerLists) %>,
    posts: <%- JSON.stringify(posts) %>
  };
  console.warn(e);
</script>

<body class="with-menu">
  <% include ./partials/menu.ejs %>

  <section class="lists discover" ng-controller="DiscoverController" ng-init="init()">

    <section class="post" ng-repeat="post in posts" ng-cloak>
      <div class="body" ng-click="openPost(post)" search-post>
        <p class="post-title">{{post.title}}</p>
        <a ng-href="{{post.link}}" target="blank" ng-if="post.link" ng-click="$event.stopPropagation();">{{post.link}}</a>
        <p class="text" ng-if="post.text">{{post.text}}</p>
      </div>
      <div class="author">
        <a href="/user/{{post.owner._id}}">
          <img ng-src="{{post.owner.image}}" />
          {{post.owner.displayName}}
        </a>


        <a class="list-name"
          ng-if="post.parentList && post.parentList._id"
          href='/list/{{post.parentList._id}}/{{post.owner._id}}'># {{post.parentList.title}}</a>
      </div>
    </section>

    <% include ./partials/post-modal.ejs %>
    <% include ./partials/list-modal.ejs %>
  </section>

<% include ./partials/footer.ejs %>
