<% include ./partials/head.ejs %>
  <% include ./partials/header.ejs %>

  <section class="lists" ng-controller="HomeController">
    <% posts.forEach(function (post) { %>
      <section class="post">
        <div class="body" ng-click="openPost(<%= JSON.stringify(post) %>)">
          <p><%= post.title %></p>
          <a ng-href="<%= post.link %>"><%= post.link %></a>
          <p class="text"><%= post.text %></p>
        </div>
        <div class="author">
          <a href="/user/<%= post.owner._id %>"><%= post.owner.displayName %></a>
        </div>
      </section>
    <% }) %>

    <% include ./partials/post-modal.ejs %>
  </section>

<% include ./partials/footer.ejs %>
