<% include ./partials/head-light.ejs %>
<% include ./partials/header.ejs %>

<body class="with-menu">

  <section class="menu">
    <div class="owner">
      <%= owner.givenName + "'s Pelican" %>
    </div>
    <div class="body">
      <% lists.forEach(function (list) { %>
        <div class="title">
          <p><%= list.title %></p>
        </div>
      <% }) %>
    </div>
  </section>

  <section class="lists" ng-controller="ListsController" ng-init="init(<%= JSON.stringify(user) %>, <%= JSON.stringify(lists) %>)">

    <% lists.forEach(function (list) { %>
      <div class="list">
        <h2><%= list.title %></h2>

        <% list.posts.forEach(function (post) { %>
          <section class="post" ng-click="openPost(<%= JSON.stringify(post) %>)">
            <div class="body">
              <p class="post-title"><%= post.title %></p>
              <a ng-href="<%= post.link %>"><%= post.link %></a>
              <p class="text"><%= post.text %></p>
            </div>
            <div class="author"></div>
          </section>
        <% }) %>
      </div>
    <% }) %>

    <% include ./partials/post-modal.ejs %>
  </section>

<% include ./partials/footer.ejs %>
