<% include ./partials/head-light.ejs %>
<% include ./partials/header.ejs %>

<body class="with-menu">

  <section class="menu" ng-controller="MenuController" ng-init="init(<%= JSON.stringify(user) %>, <%= JSON.stringify(lists) %>)">
    <div class="owner">
      <%= owner.givenName + "'s Pelican" %>
    </div>
    <div class="body">
      <input type="text" ng-model="query" />
      <div class="list menu-list"
           ng-click="makeActive(list)"
           id="menu-list-{{list._id}}"
           ng-repeat="list in lists"
           menu-helper ng-cloak>
        <p>{{list.title}}</p>
        <hr />
        <div class="post" ng-repeat="post in list.posts">
          <p>{{post.title}}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="lists" ng-controller="ListsController" ng-init="init(<%= JSON.stringify(user) %>, <%= JSON.stringify(lists) %>)">

    <% lists.forEach(function (list) { %>
      <div class="list" id="list-<%= list._id %>">
        <h2><%= list.title %></h2>

        <% list.posts.forEach(function (post) { %>
          <section class="post" ng-click="openPost(<%= JSON.stringify(post) %>)">
            <div class="body">
              <p class="post-title"><%= post.title %></p>
              <a ng-href="<%= post.link %>" target="blank"><%= post.link %></a>
              <p class="text"><%= post.text %></p>
            </div>
            <div class="author"></div>
          </section>
        <% }) %>
      </div>
    <% }) %>

    <% include ./partials/post-modal.ejs %>
  </section>

<% include ./partials/footer.ejs %>
