<% include ./partials/head.ejs %>
  <% include ./partials/header.ejs %>

  <section class="lists" ng-controller="ListsController" ng-init="init(<%= JSON.stringify(user) %>, <%= JSON.stringify(lists) %>)">

    <% lists.forEach(function (list) { %>
      <div class="list">
        <h2><%= list.title %></h2>

        <% list.posts.forEach(function (post) { %>
          <section class="post" ng-click="openPost(<%= JSON.stringify(post) %>)">
            <p><%= post.title %></p>
            <a ng-href="<%= post.link %>"><%= post.link %></a>
            <p class="text"><%= post.text %></p>
          </section>
        <% }) %>
      </div>
    <% }) %>

    <% include ./partials/post-modal.ejs %>
  </section>

<% include ./partials/footer.ejs %>
